@model IEnumerable<Employee>

<table class="table table-bordered table-striped text-center">
    <thead>
        <tr class="table-dark">
            <th scope="row">@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Section.Name)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in Model)
        {
            <tr>
                <td class="text-center">@employee.Name</td>
                <td class="text-center">@employee.Section.Name</td>
                <td class="text-center">
                    <a asp-controller="Employees" asp-action="Details"
                       asp-route-id="@employee.Id" class="text-dark text-decoration-underline" style="text-decoration: none">Detalhes</a>
                    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id" 
                        class="text-dark text-decoration-underline" style="text-decoration: none">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>