@model IPagedList<Sale>

<table class="table table-striped table-bordered text-center">
    <thead>
        <tr class="table-dark">
            <th scope="row">@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().TotalPrice)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sale sale in Model)
        {
            <tr>
                <td>@sale.Id</td>
                <td>@sale.TotalPrice.ToString("C2", CultureInfo.CurrentCulture)</td>
                <td>
                    <a class="text-dark text-decoration-underline" style="text-decoration: none" asp-controller="Sales" asp-action="Details" asp-route-id="@sale.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>