@model IPagedList<Sale>

@{
    ViewData["Title"] = "Administração de seções";
    ViewBag.Subtitle2 = $"Vendas da seção: {ViewBag.SectionName}";
}

<h3>@ViewBag.Subtitle2</h3>

<div class="row">
    <partial name="_SalesPartial" for="@Model" />
</div>

@if (Model.PageCount > 1)
{
<div class="container" style="display:inline-block">
    <h5 style="float:left">Página @Model.PageNumber de @Model.PageCount</h5>
    @Html.PagedListPager(@Model, page => Url.Action("SectionEmployees", new { page = page }),
            Bootstrap4PagedListRenderOptions.Classic)
</div>
}