@model IPagedList<Employee>

@{ 
    ViewData["Title"] = "Administração de seções";
    ViewBag.Subtitle2 = $"Funcionários da seção: {ViewBag.SectionName}";
} 

<h3>@ViewBag.Subtitle2</h3>

<div class="row">
    <partial name="_SectionEmployeesPartial" for="@Model" />
</div>

<div class="container" style="display:inline-block">
    <h5 style="float:left">Página @Model.PageNumber de @Model.PageCount</h5>
    @Html.PagedListPager(@Model, page => Url.Action("SectionEmployees", new { page = page }), 
        Bootstrap4PagedListRenderOptions.Classic)
</div>