@model HomeViewModel

@{
    ViewData["Title"] = "Início";
    ViewData["Subtitle"] = "Seja bem-vindo ao sistema online da loja Your Dressing: Você, bem vestido!";
}

<div class="row">
    <div class="container">
        <h3 style="float: left">@Model.Title</h3>

        <a class="btn btn-outline-dark" style="float: right" asp-controller="Employee" asp-action="Index">
            Ações
        </a>
        <a class="btn btn-info" style="float: right" asp-controller="Home" asp-action="Index" 
           asp-route-filter="@Model.ButtonAction">
            @Model.ButtonTitle
        </a>
    </div>
</div>

<div class="row">
    <partial name="_EmployeesPartial" for="@Model.Employees" />

    <div class="container">
        <a class="btn btn-outline-dark" style="float: right" asp-controller="Employee" asp-action="Index">
            Ações
        </a>
        <a class="btn btn-info" style="float: right" asp-controller="Home" asp-action="Index"
           asp-route-filter="@Model.ButtonAction">
            @Model.ButtonTitle
        </a>
    </div>
</div>

@* @Model.ButtonAction será definido pela Controller e sempre passará uma string curta ao 
    parâmetro filter para definir o que será feito ao acionar a Action Index. *@